/*HEADER AND FOOTER*/
body{
	overflow-x: hidden;
	margin: 0;
	height: 100%;
}
.head{
	width: 100vw;
	height: 11vh;
	background-color: #000000;
	left: 0px;
	right: 0px;
	top: 0px;
}
.img-head{
	height: 7vh;
	width: 7vw;
	display: inline-block;
	float: left;
	padding-left: 1em;
	padding-top: 8px;
}
.head-nav{
	width: 30em;
	height: 5em;
	float: right;
	color: #ffffff;
	margin-right: -10vw;
	display: inline-block;
}
li{
	padding: 4px 2px 3px 2px;
	display: inline;
	font-size: 4vh;
	font-family: "microsoft jhenghei light", "verdana";
	font-variant: small-caps;
}
.head-nav a{
	text-decoration: none;
	opacity: 0.6;
	color: #ffffff;
	transition-property: background;
	transition-duration: .3s;
	transition-timing-function: linear;
}
.head-nav a:hover{
	opacity: 1;
	background-color: #515151;
}
.active{
	text-decoration: underline !important;
	text-decoration-color: white;
	opacity: 1 !important;
	transition-property: background;
	transition-duration: .3s;
	transition-timing-function: linear;
}
.active:hover{
	background-color: #000000 !important;
} 
.dropdown{
	display: none;
}
h1{
	text-align: center;
	font-size: 2.5em;
	font-variant: small-caps;
}
.foot{
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-color: #000000;
	width: 100vw;
	height: 2.5em;
	text-align: center;
	color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
	font-variant: small-caps;
	font-family: "microsoft jhenghei light", "Palatino Linotype";
	font-size: 25px;
	margin-top: 3.8em;
}
.foot-nav{
	display: inline;
	text-align: left;
	margin-top: 1%;
	margin-bottom: 1%;
}
.foot-nav a{
	text-decoration: none;
	opacity: 0.6;
	color: #ffffff;
	transition-duration: .1s;
	transition-timing-function: linear;
	padding-right: 5px;
	padding-left: 5px;
}
.foot-nav a:hover{
	opacity: 1;
}
.foot-heading{
	padding-left: 3em;
} 


/*HOME PAGE*/
.homepage{
	width: 100vw;
	height: 100vh;
	background-image: url("../images/laptop2.jpg");
	background-size: cover;
	position: relative;
	z-index: 0;
}
.homepage::before {
	content: "";
	width: 100vw;
	height: 100vh;
	background: rgba(256, 256, 256, 0.6);
  	position: absolute;
  	top: 0;
  	left: 0;
  	z-index: -1;   
}
.display{
	position: absolute;
	margin-top: 1em;
	opacity: 1;
	width: 45vw;
	height: 50vh;
	min-width: 400px;
	background-color: #000000;
	color: #ffffff;
	border-radius: 15px;
	text-align: center;
	margin-left: 25vw;
	padding: 0.3em;
	padding-bottom: 4em;
	font-size: 3em;
	z-index: 1;
	font-family: "microsoft jhenghei light";
}
.display p{
	font-size: 0.6em;
}

 
/* ABOUT PAGE*/


.wrapper{
	min-height: 100vh;
	position: relative;
	height: auto;
	background-color: white;
	padding-bottom: 12em;
	font-family: "microsoft jhenghei light";
}
body{
	background-color: #ffffff;
}
.about-main{
	position: absolute;
	font-size: 1.5em;
}
.about-main h1{
	text-align: center;
	font-variant: small-caps;
	font-size: 2em;
}
.img-left{
	float: left; 
	width: 25vw; 
	padding-top: 2em;
	padding-left: 1.5em;
}
.right{
	position: relative;
	width: 60vw;
	right: 3vw;
	float: right;
}


/*HISTORY PAGE*/


.hist-main{
	position: absolute;
	font-size: 1.5em;
}
.right-image{
	position: relative;
	right: 0;
	display: inline-block;
	width: 25vw;
}
.left{
	position: relative;
	float: left;
	width: 60vw;
	padding-left: 1.5em;
}
.hist-2{
	position: relative;
	padding-left: 1.5em;
	padding-right: 1.5em;
	padding-top: 11em;
}  
.img-right{
	padding-left: 2em; 
	float: right; 
	width: 30vw; 
	padding-top: 2em;
}

/*WORKING PAGE*/


.work-main{
	font-size: 1.5em;
	position: absolute;
	background-color: #ffffff;
}




 @media (max-width: 1050px){
 	.right{
 		display: block !important;
 		float: none !important;
 		width: 85vw !important;
 		max-width: 85vw !important; 
 		padding-left: 2em !important;
 /*		padding-right: 2em !important;*/
 		columns: 1;
 	}
 	.img-left{
 		display: block !important;
 		float: none !important;
 		width: 50vw !important;
 		padding-left: 30vw !important;
 		columns: 1;
 	}
 	.left{
 		display: block !important;
 		float: none !important;
 		width: 85vw !important;
 		max-width: 85vw !important; 
 		padding-left: 1.5em !important;
 		/*padding-right: 1.5em !important;*/
 		columns: 1;
 	}
 	.img-right{
 		display: block !important;
 		float: none !important;
 		width: 50vw !important;
 		padding-left: 30vw !important;
 		columns: 1;
 		
 	}
 	.heading{
 		width: 80vw;
 		padding-left: 1em;
 		padding-right: 1.5em;
 		font-size: 2em;
 	}
 }
 @media (max-width: 750px){
 	.display{
 		margin-left: 20vw;
 	}
 	.foot-list{
 		display: block;
 		font-size: 0.7em;
 		padding-left: 42vw;

 	}
 	.foot-nav{
 		font-size: 30px;
 	}
 	.foot{
 		padding-bottom: 2em;
 	}
 	.head-nav{
 		display: none;
 	}
 	/* Dropdown Button */
	.dropbtn {
	  background-color: #000000;
	  color: #000000;
	  padding: 16px;
	  font-size: 16px;
	  border: none;
	  cursor: pointer;
	}

	/* Dropdown button on hover & focus */
	.dropbtn:hover, .dropbtn:focus {
	  background-color: #404040;
	}

	/* The container <div> - needed to position the dropdown content */
	.dropdown {
	  position: relative;
	  display: inline-block;
	  float: right;
	  padding-right: 4em;
	}

	/* Dropdown Content (Hidden by Default) */
	.dropdown-content {
		font-variant: small-caps;
	  	display: none;
	  	position: absolute;
	  	background-color: #f1f1f1;
	  	min-width: 160px;
	  	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	  	z-index: 1;
	}

	/* Links inside the dropdown */
	.dropdown-content a {
	  	color: black;
	  	padding: 12px 16px;
	  	text-decoration: none;
	  	display: block;
	}

	/* Change color of dropdown links on hover */
	.dropdown-content a:hover {
		background-color: #ddd
	}

	/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
	.show {
		display:block;
	}
	.drop-line{
		width: 2em;
		height: 0.08em;
		margin: 0.5em;
		background-color: #ffffff;
		display: block;
	}
}
 @media (max-width: 610px){
 	.display{
 		margin-left: 10vw;
 		padding-bottom: 4.2em;
 		margin-bottom: 3em;
 	}
 	.homepage{
 		padding-bottom: 9em;
 	}	
 }
  @media (max-width: 470px){
	  body{
		  font-size: 0.8em;
	  }
	  .homepage::before{
		  background-color: rgba(256, 256, 256, 0.75);
 	.display{
 		margin-left: 1vw !important;
		margin-right: 1vw !important;
		background-color: rgba(0, 0, 0, 0);
		colo: #000000;
 	}
 	.homepage{
 		padding-bottom: 8em;
 	}
 	.foot{
 		padding-bottom: 3em;
		padding-top: 1em;
 	}
	.dropdown{
		padding-right: 1.5em;
	  }
	  .img-right{
		  height: 25vh !important;
	  }
	   .img-left{
		  height: 25vh !important;
	  }
	  body{
		  overflow-x: hidden;
	  }
	  
 }
